@keyframes outline-pulse {
  from {
    outline-color:  #50e3c2;
    outline-offset: -2px;
  }

  90% {
    outline-color: transparent;
    outline-offset: -1px;
  }

  to {
    outline-color: #50e3c2;
    outline-offset: 0;
  }
}

:focus {
  outline: 2px solid #50e3c2 !important;
  outline-offset: 0 !important;
  animation: outline-pulse 4s;
}
